<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head', {title: " SDI -  fetch Data", content: "view your flow data!"}) %>
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/head.css" />
    <link rel="stylesheet" href="styles/fetch.css">
    <script src="scripts.lst.js"></script>
  </head>
  <body>
  <header><%- include('../includes/header.ejs') %></header>
    <main>
      <form action="/download" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button>
          download table 
        </button>
      </form>
      <h5 class="tableHeadingText">
        Table for <b> <%= dates.start %> </b> to <b> <%= dates.end %> </b>
      </h5>
      <table border="2" class="flow-table">
        <thead>
          <tr>
            <th>Time stamp</th>
            <th>Date</th>
            <th>Flow data</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(row) { %>
          <tr id="row">
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
            <td><%= row[2] %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
  
    </main>

  </body>
</html>
<style>

</style>
